# 01 â€” Data Loading & Cleaning

This notebook loads the raw Spotify dataset, performs cleaning, handles missing values, removes duplicates, and prepares a clean dataset for EDA and Tableau.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

## Load dataset

We load the raw CSV file from `data/raw/`.

In [2]:
df = pd.read_csv(
    "../data/raw/Most Streamed Spotify Songs 2024.csv",
    encoding="latin1"
)

df.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,TikTok Posts,TikTok Likes,TikTok Views,YouTube Playlist Reach,Apple Music Playlist Count,AirPlay Spins,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",92.0,"84,274,754","1,713,126","5,767,700","651,565,900","5,332,281,936","150,597,040",210.0,"40,975",684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",92.0,"116,347,040","3,486,739","674,700","35,223,547","208,339,025","156,380,351",188.0,"40,778",3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",92.0,"122,599,116","2,228,730","3,025,400","275,154,237","3,369,120,610","373,784,955",190.0,"74,333",536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",85.0,"1,096,100,899","10,629,796","7,189,811","1,078,757,968","14,603,725,994","3,351,188,582",394.0,"1,474,799","2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",88.0,"77,373,957","3,670,188","16,400",NaN,NaN,"112,763,851",182.0,"12,185",1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

## Dataset overview

We inspect the dataset shape and data types, and check for missing values.

In [3]:
df.shape

(4600, 29)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   object
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   object
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   object
 8   Spotify Playlist Count      4530 non-null   object
 9   Spotify Playlist Reach      4528 non-null   object
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   object
 12  YouTube Likes               4285 non-null   object
 13  TikTok Posts                3427 non-null   object
 14  TikTok Likes                3620 non-null   object
 15  TikTok Views                3619 non-null   object
 16  YouTube Playlist Reach      3591 non-null   object
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   object
 19  SiriusXM Spins              2477 non-null   object
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   object
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   object
 24  Pandora Track Stations      3332 non-null   object
 25  Soundcloud Streams          1267 non-null   object
 26  Shazam Counts               4023 non-null   object
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4600 non-null   int64
dtypes: float64(6), int64(1), object(22)
memory usage: 1.0+ MB

In [5]:
# Missing values (percentage)
missing_pct = (df.isna().mean() * 100).sort_values(ascending=False)
missing_pct.head(15)

TIDAL Popularity              100.000000
Soundcloud Streams             72.456522
SiriusXM Spins                 46.152174
Pandora Track Stations         27.565217
TikTok Posts                   25.500000
Pandora Streams                24.043478
Amazon Playlist Count          22.934783
YouTube Playlist Reach         21.934783
TikTok Views                   21.326087
TikTok Likes                   21.304348
Deezer Playlist Reach          20.173913
Deezer Playlist Count          20.021739
Spotify Popularity             17.478261
Shazam Counts                  12.543478
Apple Music Playlist Count     12.195652
dtype: float64

## Standardise column names

The raw dataset uses mixed casing and spaces. We standardise to **snake_case** to make coding easier and consistent.

In [6]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(r"[^\w]+", "_", regex=True)
      .str.strip("_")
)

df.columns

Index(['track', 'album_name', 'artist', 'release_date', 'isrc',
       'all_time_rank', 'track_score', 'spotify_streams',
       'spotify_playlist_count', 'spotify_playlist_reach',
       'spotify_popularity', 'youtube_views', 'youtube_likes', 'tiktok_posts',
       'tiktok_likes', 'tiktok_views', 'youtube_playlist_reach',
       'apple_music_playlist_count', 'airplay_spins', 'siriusxm_spins',
       'deezer_playlist_count', 'deezer_playlist_reach',
       'amazon_playlist_count', 'pandora_streams', 'pandora_track_stations',
       'soundcloud_streams', 'shazam_counts', 'tidal_popularity',
       'explicit_track'],
      dtype='object')

## Drop unusable columns

Some columns may be fully empty (all values missing). These are removed because they add no information and can break downstream analysis.

In [7]:
# Drop columns with 100% missing values
all_null_cols = df.columns[df.isna().all()].tolist()
all_null_cols

['tidal_popularity']

In [8]:
df = df.drop(columns=all_null_cols)

df.shape

(4600, 28)

## Convert numeric columns

Many engagement metrics are stored as strings due to comma formatting (e.g. `"1,234,567"`).

We remove commas and convert to numeric. Invalid values become `NaN` using `errors='coerce'`.

In [9]:
numeric_cols = [
    "all_time_rank",
    "track_score",
    "spotify_streams",
    "spotify_playlist_count",
    "spotify_playlist_reach",
    "spotify_popularity",
    "youtube_views",
    "youtube_likes",
    "tiktok_posts",
    "tiktok_likes",
    "tiktok_views",
    "youtube_playlist_reach",
    "apple_music_playlist_count",
    "airplay_spins",
    "siriusxm_spins",
    "deezer_playlist_count",
    "deezer_playlist_reach",
    "amazon_playlist_count",
    "pandora_streams",
    "pandora_track_stations",
    "soundcloud_streams",
    "shazam_counts",
    "explicit_track",
]

# Only keep columns that actually exist (safe if dataset changes)
numeric_cols = [c for c in numeric_cols if c in df.columns]

for col in numeric_cols:
    df[col] = (
        df[col]
          .astype(str)
          .str.replace(",", "", regex=False)
          .replace("nan", np.nan)
    )
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Quick dtype check
(df[numeric_cols].dtypes).sort_index()

airplay_spins                 float64
all_time_rank                   int64
amazon_playlist_count         float64
apple_music_playlist_count    float64
deezer_playlist_count         float64
deezer_playlist_reach         float64
explicit_track                  int64
pandora_streams               float64
pandora_track_stations        float64
shazam_counts                 float64
siriusxm_spins                float64
soundcloud_streams            float64
spotify_playlist_count        float64
spotify_playlist_reach        float64
spotify_popularity            float64
spotify_streams               float64
tiktok_likes                  float64
tiktok_posts                  float64
tiktok_views                  float64
track_score                   float64
youtube_likes                 float64
youtube_playlist_reach        float64
youtube_views                 float64
dtype: object

In [10]:
# Convert release_date to datetime (invalid parsing -> NaT)
if "release_date" in df.columns:
    df["release_date"] = pd.to_datetime(df["release_date"], errors="coerce")
    df["release_date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4600 entries, 0 to 4599
Series name: release_date
Non-Null Count  Dtype
--------------  -----
4600 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 36.1 KB

## Handle duplicates (track + artist)

The dataset can contain repeated rows for the same track/artist.

To avoid counting the same song multiple times, we:
1. normalise text (strip spaces + lowercase)
2. sort by `spotify_streams` (so we keep the highest-streaming record)
3. drop duplicates on `track` + `artist`

In [11]:
for col in ["track", "artist"]:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip().str.lower()

before = len(df)

if set(["track", "artist"]).issubset(df.columns) and "spotify_streams" in df.columns:
    df = (
        df.sort_values("spotify_streams", ascending=False)
          .drop_duplicates(subset=["track", "artist"], keep="first")
          .reset_index(drop=True)
    )

after = len(df)
before, after, before-after

(4600, 4485, 115)

## Missing values strategy

We **do not automatically fill missing values** during cleaning.

Why?
- For correlation/regression, we typically use pairwise `dropna()` so results are not biased by imputation.
- For Tableau, we can decide later whether to filter missing values or show them as blanks.

If you *must* impute, the **median** is often preferred for metrics like streams/views because these variables are highly skewed and contain extreme outliers.

In [12]:
# Optional: median imputation (OFF by default)
IMPUTE_MEDIAN = False
impute_cols = [
    "spotify_streams",
    "spotify_playlist_reach",
    "tiktok_views",
    "youtube_views",
    "shazam_counts",
]

if IMPUTE_MEDIAN:
    for col in impute_cols:
        if col in df.columns:
            df[col] = df[col].fillna(df[col].median())

# Check remaining missing values
(df.isna().mean().sort_values(ascending=False) * 100).head(15)

soundcloud_streams            72.129320
siriusxm_spins                45.373467
pandora_track_stations        26.399108
tiktok_posts                  24.325530
pandora_streams               22.809365
amazon_playlist_count         22.095875
youtube_playlist_reach        21.159420
tiktok_views                  20.133779
tiktok_likes                  20.111483
deezer_playlist_reach         19.420290
deezer_playlist_count         19.264214
spotify_popularity            16.566332
apple_music_playlist_count    11.505017
shazam_counts                 11.170569
airplay_spins                  9.921962
dtype: float64

## Export cleaned datasets

We save:
- `spotify_cleaned.csv`: cleaned dataset for analysis
- `spotify_final_for_tableau.csv`: same cleaned dataset (kept separate so Tableau inputs are stable)

In [13]:
output_cleaned = "../data/processed/spotify_cleaned.csv"
output_tableau = "../data/processed/spotify_final_for_tableau.csv"

# Ensure output folder exists
import os
os.makedirs(os.path.dirname(output_cleaned), exist_ok=True)

df.to_csv(output_cleaned, index=False)
df.to_csv(output_tableau, index=False)

output_cleaned, output_tableau

('../data/processed/spotify_cleaned.csv',
 '../data/processed/spotify_final_for_tableau.csv')